body {
  font-family: sans-serif;
  text-align: center;
}

div.table-container {
  display: flex;
  flex-direction: column;
}

table {
  margin: auto;
  border-spacing: 1rem;
}

th {
  background-color: lightblue;
  padding: 0.5rem;
  text-align: left;
}

td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: left;
}

th.priority, td.priority {
  text-align: right;
}

input {
  font-size: 1rem;
  border: none;
}

button {
  font-size: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  height: 2.5rem;
  margin-left: 0.5rem;
}

input.blue {
  background-color: blue;
}

td.no-padding {
  padding: 0;
  border: none;
}

div.clickable {
  font-size: 1rem;
  display: inline;
  margin: 0.5rem;
  border: 1px solid black;
  padding: 0.6rem;
}
