body {
  font-family: sans-serif;
  text-align: center;
}

div.table-container {
  display: flex;
  flex-direction: column;
}

table {
  margin: auto;
  border-spacing: 1rem;
}

th {
  background-color: lightblue;
  padding: 0.5rem;
  text-align: left;
}

td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: left;
}

th.priority, td.priority {
  text-align: right;
}

input {
  font-size: 1rem;
  border: none;
}
